.profile-container {
    background-color: #EFEFEF;
    padding: 30px 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .column-div {
    color: #112B3C;
    width: 100%;
    margin: 0px;
  }

  .flexbox {
    display: flex;
  }

  .column {
    margin: 50px;
  }