.page-title {
    color: #112B3C;   
    font-size: 50px;
}

.divider {
    background-color: #205375;
    height: 1px;
}

.content {
    padding: 6vh 10vw 6vh 10vw;
}

.missions-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.mission-page-div {
    position: relative;
    display: flex;
    justify-content: space-between;
}

    .new-mission-button {
        margin-top: 2vh;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        color: #205375;
        align-items: center;
        text-decoration: none;
        border-radius: 10px;
    }

    .new-mission-button:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .add-icon {
        padding-right: 5px;
    }


  