
.title {
  display: flex;
  align-items: center;
  color: #112B3C
}

.inputDiv {
  color: #112B3C;
  width: 100%;
}

  input {
    width: 100%;
    border: 1px solid #205375;
    border-radius: 2px;
    background-color: #EFEFEF;
    color: #112B3C;
  }


.icon {
  color: #205375;
  width: 30px;
  height: 30px;
  padding-right: 10px;

}

h5 {
  margin: 7px 0px;
}

p {
  margin-top: 20px;
  color: #112B3C;
  font-size: 12px;
}

.centered {
  justify-content: center;
  align-items: center;
}

/*  #112B3C #EFEFEF #F66B0E #205375*/
  